@import 'bulma-dep';
@import 'font-awesome-dep';

/** is-info: #209cee */

.has-white-text,
.has-white-text * {
    color: white !important;
}

.small-caps,
.small-caps * {
    font-variant: small-caps;
}

.to-upper,
.to-upper * {
    text-transform: uppercase;
}

.navbar-divider {
    border: 1px white solid;
    min-height: 3rem;
}

.navbar-bottom {
    border-bottom: 2px solid #eee;
}

hr.pretty {}

.sidebar {
    height: 100%;
    padding: 10px;
    border-right: 2px solid #eee;
}

.text-justify {
    text-align: justify;
}

.text-center {
    text-align: center;
}


/** Posts custom CSS */

.post-content {
    h2,
    h3,
    h4 {
        /* font-variant: small-caps; */
        color: #209cee;
        font-weight: 500;
    }
}


/** Because we're using highlight js */

.post-content {
    pre {
        padding: 0 !important;
        margin: 1em 0 1em 0 !important;
    }
}


/** about custom css */

.about-content {
    h1,
    h2,
    h3,
    h4 {
        text-transform: uppercase;
        font-variant: small-caps !important;
        color: #209cee;
        font-weight: 500;
    }
}
